<div *ngIf="isVisible" class="modal">
    <div class="modal-content">
      <span class="close" (click)="close()">&times;</span>
      <h2>Select Questions</h2>
      <div *ngFor="let question of questions">
        <!-- Corrigez la syntaxe de l'attribut (change) -->
        <input type="checkbox" [id]="question.idquestion" (change)="onCheckboxChange(question.idquestion!, $event)">
        <label [for]="question.idquestion">{{ question.questionText }}</label>
      </div>
      <button (click)="submit()">Add Selected Questions</button>
    </div>
  </div>
  